<div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; background-color: #121212; padding: 20px;">
    @for(i of recipy_s.arr_recipy; track $index) {
      <div style="
        background: #121212; 
        color: #fff; 
        padding: 20px; 
        border-radius: 15px; 
        width: 280px; 
        text-align: center; 
        font-family: 'Papyrus'; 
        border: 2px solid #FFD700; 
        box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
      ">
        <h3 style="font-size: 28px; color: #FFD700; font-family: 'Papyrus', sans-serif;">
          🍽️ {{i.name}}
        </h3>
        <h4 style="font-size: 18px; color: #d4af37;">Difficulty: {{i.difficult_level}}</h4>
        <p style="font-size: 18px; font-weight: bold; color: #FFD700; text-transform: uppercase;">Ingredients:</p>
        <p style="font-size: 16px; color: #e0e0e0;">{{i.Ingredients}}</p>
        <p style="font-size: 16px; color: #FFD700;">⏳ Cooking Time: {{i.time}} min</p>
        <img [src]="i.img" style="
          width: 230px; 
          height: 230px; 
          border-radius: 12px; 
          margin-top: 10px; 
          box-shadow: 0px 0px 25px rgba(255, 215, 0, 1);
          transition: box-shadow 0.3s ease-in-out;
          object-fit: cover; 
          display: block;
          margin: 10px auto;
        " 
        onmouseover="this.style.boxShadow='0px 0px 50px rgba(255, 215, 0, 1)'" 
        onmouseout="this.style.boxShadow='0px 0px 25px rgba(255, 215, 0, 1)'">
        <button style="
        font-family: 'Papyrus', sans-serif;
        background: #121212; 
        color: #FFD700;
        border: 2px solid #FFD700; 
        padding: 10px 20px; 
        font-size: 16px;
        border-radius: 8px; 
        cursor: pointer; 
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
      "
      onmouseover="this.style.boxShadow='0px 0px 25px rgba(255, 215, 0, 1)'"
      onmouseout="this.style.boxShadow='0px 0px 15px rgba(255, 215, 0, 0.8)'"
      (click)="navigateToDetail(i._id!)">Details</button>      </div>    }
  </div>
  